{% extends "root.html" %}

{% block title %}
    Magazyn
{% endblock title %}

{% block head2 %}
    <title>Magazyn</title>
{% endblock head2 %}

{% block content %}
    <table class="table table-striped">
    <thead>
        <tr>
            {% for colname in colnames %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
                <td>
                    <div class="btn-group">
                    <a href="{{ url_for('editmagazyn', id=row[0]) }}" class="btn">Edytuj</a>
                    <form action="{{ url_for('usun') }}" method="GET">
                        <input type="hidden" name="id" value="{{ row[0] }}">
                        <input type="submit" class="btn btn-danger" value="Usuń">
                    </form>
                    </div>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <form action="{{ url_for('dodaj') }}" method="GET">
        <input type="submit" class="btn btn-success" value="Dodaj">
    </form>
{% endblock content %}